.container {
  width: 90%;
  margin: auto;
  padding: 100px 0;
}

.title {
  width: 75%;
  margin: auto;
  text-align: center;
  color: navy;
}

.title h1 {
  font-size: 50px;
}

.form-control {
  background: rgb(128, 128, 128, 0.3);
}

.table {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5%;
  align-items: center;
}

#result {
  background: rgb(128, 128, 128, 0.3);
  color: rgb(208, 5, 5);
  font-weight: bold;
  font-size: 20px;
}

#button_end {
  padding: 15px 40px;
  font-size: 20px;
  background: green;
  color: white;
  border: none;
  border-radius: 15px;
}
